:root {
  --clr-primary-100: hsl(0, 0%, 98%);
  --clr-secondary-500: hsl(0, 0%, 41%);
  --clr-tertiary-900: hsl(0, 0%, 8%);

  --fw-medium: 500;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Styling */
body {
  font-size: 1.125rem;
  color: var(--clr-secondary-500);
  font-family: "Epilogue", sans-serif;
}

a,
li,
button {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.nav__menu li:last-child > button {
  background-color: transparent;
  border: 2px solid var(--clr-secondary-500);
  border-radius: 15px;
}

.nav__menu > li:hover {
  color: var(--clr-tertiary-900);
  cursor: pointer;
}
/* Utilities */
:where(.flex-row) {
  display: flex;
}

:where(.flex-column) {
  display: flex;
  flex-direction: column;
}

:where(.push-left) {
  margin-left: auto;
}

:where(.display-grid) {
  display: grid;
}

:where(.flex-group) {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
:where(.gap) {
  gap: 0.5rem;
}

:where(.align-center) {
  align-items: center;
}
:where(.justify-center) {
  justify-content: center;
}

/* Block styling */
.sponsors {
  justify-content: space-evenly;
}
.semi-dark::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  position: absolute;
  top: 0;

  opacity: 0.7;
}

.nav__menu :is(:nth-child(1), :nth-child(2), :nth-child(3)) > button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.main {
  gap: var(--desktop-gap, 2.5rem);
}
.description__title {
  font-weight: var(--fw-bold);
  font-size: 2.2rem;
  color: var(--clr-tertiary-900);
}

.button {
  background-color: var(--clr-tertiary-900);
  color: var(--clr-primary-100);
  border: 0;
  padding: 0.7rem 1.2rem;
  border-radius: 15px;
}

@media screen and (min-width: 1440px) {
  .nav {
    padding: 2rem 2rem;
  }
  .logo {
    justify-self: center;
    align-self: center;
  }
  .nav__menu {
    --gap: 2.5rem;
    width: 100%;
    gap: var(--gap);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .open-menu,
  .close-menu {
    display: none;
  }

  .nav__menu li:last-child > button {
    padding: 0.5rem 1.2rem;
  }

  .nav__menu li:nth-child(6) {
    margin-left: auto;
  }

  .button {
    justify-self: flex-start;
  }

  .main {
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem;
    padding: 8rem;
  }
  .description {
    max-height: 0;
    padding: 5rem 0;
    gap: 3rem;
  }

  .description h1 {
    font-size: 6rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2;
    padding: 7rem 0;
    gap: 2rem;
  }
  /* Secondary nagivation */
  /*        and           */
  /* Tertiary navigation  */
  /*      States          */
  .secondary-navigation,
  .tertiary-navigation {
    position: absolute;
    background-color: var(--clr-primary-100);
    border-radius: 0.5rem;
    box-shadow: 1px -5px 41px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -5px 41px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -5px 41px -9px rgba(0, 0, 0, 0.75);
    top: 5rem;
  }
  .secondary-navigation {
    left: 8rem;
  }
  :is(
      .secondary-navigation[data-state="opened"],
      .tertiary-navigation[data-state="opened"]
    ) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.2rem;
  }

  :is(
      .secondary-navigation[data-state="closed"],
      .tertiary-navigation[data-state="closed"]
    ) {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  /* Primary navigation */
  .nav {
    justify-content: space-between;
    padding: 1rem;
  }
  .open-menu {
    background-color: transparent;
    border: 0;
  }
  .main {
    grid-template-columns: 1fr;
    gap: var(--mobile-gap, 2.5rem);
  }
  .img-container {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .main > :not(:nth-child(2)) {
    padding: 0px 1rem;
  }
  .description {
    --mobile-gap: 1rem;
    gap: var(--mobile-gap);
    place-items: center;
  }
  .sponsors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .nav__menu {
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    background-color: var(--clr-primary-100);
    height: 100vh;
    width: 65vw;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 1.5rem;
  }

  .nav__menu li:nth-child(6) {
    margin-top: 1.5rem;
  }
  .nav__menu :is(:nth-child(6)) {
    margin: 0 auto;
  }

  .nav__menu li:last-child {
    display: grid;
  }

  .close-menu {
    margin-bottom: 2rem;
  }
  .sponsors {
    gap: 1rem;
    padding: 3rem 0;
  }
  /*button state for primary navigation*/
  .nav__menu[data-state="opened"] {
    animation: slideIn 0.3s ease forwards;
  }
  .nav__menu[data-state="closing"] {
    animation: slideOut 0.3s ease forwards;
  }
  .nav__menu[data-state="closed"] {
    display: none;
  }

  /* Secondary nagivation */
  /*        and           */
  /* Tertiary navigation  */
  /*      States          */
  :is(
      .secondary-navigation[data-state="opened"],
      .tertiary-navigation[data-state="opened"]
    ) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.2rem;
  }

  :is(
      .secondary-navigation[data-state="closed"],
      .tertiary-navigation[data-state="closed"]
    ) {
    display: none;
  }
}

/* Screen reader */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* animation for primary navigation */

@keyframes slideIn {
  0% {
    transform: translateX(15rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15rem);
  }
}
